@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Hurricane", cursive;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  gap: 20px;
}
h1::before {
  content: "";
  width: 300px;
  height: 2px;
  background: #000;
  position: relative;
  top: 15px;
}

h1::after {
  content: "";
  width: 300px;
  height: 2px;
  background: #000;
  position: relative;
  top: 15px;
}

main {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.formflex {
  background-color: #e3caa5;
  padding: 50px;
  border-radius: 20px;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

input {
  font-size: 18px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
  background: #fffbe9;
}

button {
  font-size: 18px;
  margin-top: 20px;
  display: block;
  padding: 10px 20px;
  background: #fffbe9;
  border-radius: 4px;
  cursor: pointer;
}

textarea {
  font-size: 18px;
  height: 200px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
  background: #fffbe9;
}
