.header-bg {
  background-color: #7fffd4;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  gap: 110px;
  flex-wrap: wrap;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #000;
  margin-top: 4px;
}
.header-menu a:hover:after {
  width: 100%;
}

.header-menu a {
  color: #000;
  display: inline-block;
  padding: 8px 0px;
  font-size: 18px;
}
.header-menu a:hover {
  background: #75fccf;
}

.header img {
  max-width: 80px;
  background-color: white;
}

.footer-bg {
  background-color: #75fccf;
  display: grid;
  margin-top: 20px;
  padding: 20px;
}

.footer-bg p {
  margin: 2px;
  text-align: center;
}
