@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
  display: grid;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Hurricane", cursive;
  display: flex;
  padding: 20px;
  margin: 20px;
  gap: 20px;
}

h1::before {
  content: "";
  width: 300px;
  height: 2px;
  background: #000;
  position: relative;
  top: 15px;
}

h1::after {
  content: "";
  width: 300px;
  height: 2px;
  background: #000;
  position: relative;
  top: 15px;
}
h1 {
  display: flex;
  justify-content: center;
}

.perguntas {
  margin: 30px;
  background-color: #e3caa5;
  border-radius: 20px;
  padding: 10px 10px 10px 20px;
  margin: 6px;
  justify-content: center;
  width: 1000px;
}

.ok {
  display: flex;
  flex-flow: column wrap;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
