@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
  max-width: 100%;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Hurricane", cursive;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  gap: 20px;
  grid-column: 1fr;
}
h1::before {
  content: "";
  width: 300px;
  height: 2px;
  background: #000;
  position: relative;
  top: 15px;
}

h1::after {
  content: "";
  width: 300px;
  height: 2px;
  background: #000;
  position: relative;
  top: 15px;
}

main {
  display: flex;
  display: block;
  justify-content: center;
  padding: 30px;
}

.conteudosobrenos {
  margin-right: 250px;
  margin-left: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  gap: 30px;
  font-size: 20px;
}

.fotosobrenos {
  border: 1px solid;
  width: 100%;
  border-radius: 10px;
}
.conteudosobrenos {
  background-color: #e3caa5;
  padding: 50px;
  border-radius: 20px;
}

.textosobrenos {
  align-items: stretch;
}
