body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}
.header-bg {
  background-color: #7fffd4;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #000;
  margin-top: 4px;
}
.header-menu a:hover:after {
  width: 100%;
}

.header-menu a {
  color: #000;
  display: inline-block;
  padding: 16px 0px;
  font-size: 18px;
}
.header-menu a:hover {
  background: #75fccf;
}

.header img {
  max-width: 80px;
}

main {
  padding: 20px;
  display: grid;
  gap: 16px;
  justify-items: center;
}

.item {
  background: #ffbebe;
  padding: 10px;
  border-radius: 8px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.grid p {
  display: grid;
  background-color: #df8585;
  border: 1px solid Opx;
  padding: 8px;
  text-align: center;
  font-weight: 400;
  border-radius: 4px;
}

.rodape {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  background-color: #75fccf;
  width: 100%;
  text-align: center;
  padding: 20px;
  border: 20px;
  gap: 10px 10px;
  margin: 0px;
}
