@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
  display: grid;
}
img {
  max-width: 100%;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  padding: 20px;
  display: grid;
  gap: 16px;
  justify-items: center;
}

.item {
  background: #ffbebe;
  padding: 10px;
  border-radius: 8px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.grid p {
  display: grid;
  background-color: #df8585;
  border: 1px solid Opx;
  padding: 8px;
  text-align: center;
  font-weight: 400;
  border-radius: 4px;
}

.rodape {
  background-color: #75fccf;
  width: 100%;
  padding: 20px 0px 20px 0px;
  text-align: center;
  border: 20px;
  gap: 10px 10px;
  margin: 0px;
  padding-bottom: opx;
}
